{% extends "base.html" %}
{% block title %}Chi siamo?!{% endblock %}
{% block main %}
    <article class="about">
        <h2>Team OverEar</h2>
        <p>Siamo un gruppo di 3 ragazzi, amici e colleghi di studio, frequentiamo tutti il Politecnico di Torino.</p>
        <p>Il sito &eacute; aperto da qualche anno, ma &eacute; da quest'anno che si fa sul serio! </p>
        <p>Collaborazioni, interviste e storie sul campo...questo e altro su OverEar.</p>
        <strong><p>Rimanete sintonizzati!</p></strong>
    </article>
{% endblock %}