{% extends "base.html" %}
{% block title %}Storia del brand!{% endblock %}
{% block main %}
    <article class="about">
        <h2>La storia di OverEar</h2>
        <p>Il nostro logo si inspira ad un logo gi&agrave; esistente, appartenente ad una discoteca!</p>
        <p>All'inizio ognuno aveva una sua idea di logo ma non riuscivamo a metterci d'accordo.</p>
        <p>Cos&igrave; ci siamo affidati ad un nostro altro amico a cui abbiamo commissionato il lavoro!</p>
        <strong><p>Ecco le prime bozze:</p></strong>

        <img class=logo_bozza src="static/logo_bozza1.jpeg" alt="Bozza logo 1">
        <img class=logo_bozza src="static/logo_bozza2.jpeg" alt="Bozza logo 2">
    </article>
{% endblock %}