{% extends "base.html" %}
{% block title %}Dove registriamo!{% endblock %}
{% block main %}
    <article class="about">
        <h2>Dove registriamo?</h2>
        <p>Registriamo da un piccolo studio vicino la nostra universit&agrave;, a volte anche dentro le aule!</p>
        <p>Purtroppo gli affitti per un locale a torino sono davvero alti e non siamo ancora riusciti a sistemarci in uno studio grande e comodo!</p>
        <p>Aiutaci ad ampliare la nostra libreria, inserisci anche tu una serie o un podcast...&eacute; semplice, basta solo un click!</p>
        <p></p>
        <strong><p>Veniteci a trovare, siamo proprio qui:</p></strong>
        <iframe class="mappa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2817.9387072062036!2d7.656407165544172!3d45.0667544290982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d1c11f8f1ab%3A0xb93d0ac573896af1!2sEx%20Westinghouse!5e0!3m2!1sen!2sit!4v1673256810877!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
{% endblock %}